<h4>Job Details </h4>

Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %><br>

Category: <%= link_to @job.category.title, category_path(@job.category) if @job.category %>



<h3>Comments</h3>
<%= render partial: 'jobs/comment', collection: @job.comments %>



<%= render partial: 'comments/form' %>
