<h3>All Categories</h3>

<% @categories.each do |category| %>
  <ul class=category_<%= category.id %>>
    <%= link_to category.title, category_path(category) %><br>
    <%= link_to "Edit Category", edit_category_path(category) %><br>
    <%= link_to "Delete", category_path(category), method: :delete %></ul>
  </ul>
<% end %>

  <%= link_to "New Category", new_category_path %>
